{% extends 'padre.html' %}
{% block title %}Bandeja de entrada{% endblock %}
{% block contenidoQueCambia %}

<div style="display: flex; justify-content: space-between;">
    <div class="container mt-5" style="width: 100%; margin: 20px;">
        <div class="card p-4">
            <a href="{% url 'enviar_mensaje' %}" class="btn btn-primary">Nuevo Mensaje</a>
            <h2 style="text-align: center; margin: 10px" >Mensajes</h2>
            {% for mensaje in mensajes %}
                {% if not mensaje.eliminado %}
                    <div class="card p-4">
                        De: {{ mensaje.remitente }}<br>
                        Contenido: {{ mensaje.contenido }}
                        <a href="{% url 'eliminar_mensaje' mensaje.id %}">Eliminar</a><br><br>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{% endblock contenidoQueCambia %}