{% extends 'padre.html' %}

{% block title %}Cambiar contraseña{% endblock %}
{% block contenidoQueCambia %}

<div style="display: flex; justify-content: space-between;">
    <div class="container mt-5" style="width: 100%; margin: 20px;">
        <div class="card p-4">
            <h2>Cambiar Contraseña</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Cambiar Contraseña</button>
            </form>
        </div>
    </div>
</div>

{% endblock contenidoQueCambia %}
