<!-- Barra superior -->
<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        <h5 style="margin-right: 10px;">ARQUIA</h5>
        <div class="home-button">
            <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        </div>
        <a class="navbar-brand" href="{% url 'lista_proyecto' %}">Proyectos</a>
        <a class="navbar-brand" href="{% url 'lista_trabajador' %}">Trabajadores</a>
        <a class="navbar-brand" href="{% url 'lista_material' %}">Materiales</a>
        <div class="btn-group">
            {% if user.is_authenticated %}
            <!-- Si el usuario está autenticado -->
            <a class="btn btn-outline-light btn-sm ml-auto" href="{% url 'edit_profile' %}">Hola, {{ user.username }}!</a>
            <a class="btn btn-danger btn-sm ml-auto" href="{% url 'logout' %}">Cerrar Sesión</a>
            <a class="btn btn-outline-light btn-sm ml-auto" href="{% url 'bandeja_entrada' %}">Mensajes</a>
            {% else %}
            <!-- Si el usuario no está autenticado -->
            <a class="btn btn-primary btn-sm ml-auto" href="{% url 'login' %}">Iniciar Sesión</a>
            <a class="btn btn-primary btn-sm ml-auto" href="{% url 'register' %}">Registrarse</a>
            {% endif %}
        </div>
    </div>
</nav>