{% extends 'padre.html' %}

{% block title %}Actualizar trabajador{% endblock %}
{% block contenidoQueCambia %}

<div style="display: flex; justify-content: space-between;">
    <div class="container mt-5" style="width: 95%; margin: 20px">
        <div class="card p-4">
        <h1>Actualizar Trabajador</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="{% url 'lista_trabajador' %}" class="btn btn-secondary">Volver al listado</a>
        </form>
        </div>
    </div>
</div>

{% endblock contenidoQueCambia %}